<!DOCTYPE html>
<html lang="en">

  <body>



    <!-- Main jumbotron for a primary marketing message or call to action --><div class="head">
      <div class="container">
				<br>
				<div class="img1"><img src="http://zitrocapital.com/media/hp_img1.jpg" alt="Home Page Logo"></div>
				<br>
      </div>
	</div>

    <div class="col-container" style="padding:20px">
      <!-- Example row of columns -->

        <div class="col" id="a1">
          <center><h2>Capture your Feelings</h2>
          <p>Just sign in and make a new entry into your diary. </p></center>
          <p></p>
        </div>
        <div class="col" id="a2">
          <center><h2>Facial Recognition</h2>
          <p>Our facial recognition goes through your image and evaluates your current emotional state. </p></center>
          <p></p>
       </div>
        <div class="col" id="a3">
          <center><h2>Start Finding Trends</h2>
          <p>Moodster allows you to start seeing your monthly emotional trends.</p></center>
          <p></p>

      </div>


      <hr>
    </div> <!-- /container -->
		<row><div class="aboutBg" class="fadeInUp"><div class="about"><a name="about"></a>
			<center><h1>About Moodster</h1>
			<div class="internal"><p>Moodster is an application that utilizes cutting edge Artificial Intelligence, Machine Learning, Reinforcement Learning, Deep Learning, Image Processing, and Cognitive Services to build a User's Emotional Profile.</p>
			<p>Moodster captures it's user's image and creates a profile which can later be used to evalute you state of mind and build better habits to get to your own happiness.</p></div>
		</center>

	</div></div></row>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
