
<style>
body {
  background-color: #ddd;
  padding: 0.5em;
  text-align: center;
  font-family: "Helvetica Neueu", "Helvetica", "Arial", sans;
}

button, input, #loader {
  display: none;
}

/* .cameraStuff button {
  display: none !important;
}


.cameraStuff input,
.cameraStuff #loader {
  display: none;
} */

input {
  width: 300px;
}

#camera {
  display: inline-block;
  background-color: #eee;
  width: 250px;
  height: 300px;
  margin: 0.5em;
}

#camera .placeholder {
  padding: 0.5em;
}

#snapshots {
  height: 150px;
  margin: 0.5em 0;
  padding: 3px;

  border: 1px solid #aaa;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#snapshots canvas, #snapshots img {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

  height: 100%;
  margin-left: 3px;
  border: 3px solid transparent;
}

#snapshots .selected {
  border: 3px solid #000;
}

button, #upload_status, #upload_result, #loader {
  margin: 0.5em;
}

</style>

<p>
  This is a demonstration page for
  <a href="https://amw.github.io/jpeg_camera/doc/">JpegCamera library</a>.
</p>

<div id="camera_info"></div>
<div id="stream_stats"></div>

<div id="camera">
  <div class="placeholder">
    Your browser does not support camera access.<br>
    We recommend
    <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>
    &mdash; modern, secure, fast browser from Google.<br>
    It's free.
  </div>
</div><br>

<button id="take_snapshots">Take more snapshots</button>
<button id="show_stream">Show stream</button><br>

<div id="snapshots"></div>

<button id="discard_snapshot">Discard snapshot</button>
<button id="upload_snapshot">Upload</button><br>

<img src="/assets/loader.gif" id="loader">
<div id="upload_status"></div>
<div id="upload_result"></div>
