

	body {
	  padding-top: 50px;
	  padding-bottom: 20px;
	}

	 a{
	  color: red;
	}

	.img1{
		align-content: center;

	}

	.navlinks {
	  color: red;
	}


	.head-text{
		color: white;
	}


	.user_dash{
		align-items: center;

	}

	#a1{
		color: white;
		text-shadow: 2px 2px black;
		background-image: url("https://purepurposebook.files.wordpress.com/2014/12/how-to-take-a-screenshot.jpg?&h=auto");
	}

	.col-container {
		display: flex;
	  width: 100%;
	}

	.col {
		flex: 1;
	  padding: 16px;
	}
