
body {
  padding-top: 50px;
  padding-bottom: 20px;
}


.head .jumbotron{
	background-image: url("test_hp4.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}


.head-text{
	color: white;
}
