
<!-- Bootstrap core CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<style>
body {
  background-color: #99A2A7;
  padding: 0.5em;
  text-align: center;
  font-family: "Helvetica Neueu", "Helvetica", "Arial", sans;
}

button, input, #loader {
  display: none;
}

/* .cameraStuff button {
  display: none !important;
}


.cameraStuff input,
.cameraStuff #loader {
  display: none;
} */

input {
  width: 300px;
}

#camera {
  display: inline-block;
  background-color: #eee;
  width: 250px;
  height: 300px;
  margin: 0.5em;
}

#camera .placeholder {
  padding: 0.5em;
}

#snapshots {
  height: 150px;
  margin: 0.5em 0;
  padding: 3px;

  border: 1px solid #aaa;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#snapshots canvas, #snapshots img {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

  height: 100%;
  margin-left: 3px;
  border: 3px solid transparent;
}

#snapshots .selected {
  border: 3px solid #000;
}

button, #upload_status, #upload_result, #loader {
  margin: 0.5em;
}

</style>
<br><br><br><br>
<h1>Instructions</h1>
<p>1. Please take a snap snapshot</p>
<p>2. Select the image you'd like to use</p>
<p>3. Press the Submit button</p>

<div id="camera">
  <div class="placeholder">
    Your browser does not support camera access.<br>
    We recommend
    <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>
    &mdash; modern, secure, fast browser from Google.<br>
    It's free.
  </div>
</div><br>
<div id="camera_info"></div>
<div id="stream_stats"></div>

<button class="btn btn-success" id="take_snapshots">Take A Snapshot</button>
<button class="btn btn-primary" id="show_stream">Show Stream</button><br>

<div id="snapshots"></div>
<h3>Select an Image</h3>
<button class="btn btn-warning" id="discard_snapshot">Discard snapshot</button>
<button class="btn btn-success" id="upload_snapshot">Submit Image</button><br>

<img src="/assets/loader.gif" id="loader">
<div id="upload_status"></div>
<div id="upload_result"></div>
